@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freckle+Face&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
:root{
  --color-custom: #F0D9FF;
  --color-classic: #8DA47E;
  --color-random: #E8D595;
  --color-eraser:  #E7CBA9;
  --color-clear:  #E9BBB5;
  --color-neutral: #FAF9F6;
  --color-black: #424949;
  
  --padding-button:8px;
  
  --margin-big: 4rem;
  --margin-small: 2.5rem;
  
  --font-family-main: 'Amatic SC', cursive;
  --font-size-main: 2.5rem;
  --font-weight-main:600;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  font-size: 62.5%;
  
}

body{
  font-size:var(--font-size-main);
  font-family:var(--font-family-main);
  background: linear-gradient(217deg, #100753, #428a62 70.71%),
              linear-gradient(100deg, #f1b254, #dd9c8d 70.71%),
              linear-gradient(336deg, #0e093b, #e994f3 70.71%);
}

.header{
  text-align:center;
  text-transform: uppercase;
  margin-top:5rem;
  font-family: 'Rowdies', cursive;
  font-size:4rem;
  color:white;
}

.mainContainer{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  padding:5rem;
  width:110rem;
  margin:auto;
  margin-top:3rem;
  background-color: #a6dbd01f;
  border-radius: 2rem;  
}

.canvasContainer{
  display:flex;
  justify-content:center;
  align-items:center;
  height:60rem;
  width:60rem;
  border-radius:40px;
  background-color:#02475E;
}

.mainContainer__canvas{
  height:50rem;
  width:50rem;
  background-color:var(--color-neutral);
  display:flex;
  border:5px solid white;
  background-color:white;
  flex-direction:column;
}

.mainContainer__menu{
  display:flex;
  flex-direction:column;
  align-items:center;
  font-weight: bolder;
  
}

.menu__buttons{
  display:flex;
  flex-direction:column;
}

.sizeSelector{
  display:flex;
  align-items:center;
  margin-bottom:8rem;  
  color:white;
  font-size: 3rem;
}

#sizeSelector{
  margin:10px;
  width:7rem;
  font-size:2.5rem;
  font-weight:600;
  border-radius:.5rem;
  font-family: 'Amatic SC', cursive;
  padding:1rem;
  background-color:white;
  border-radius:10px;
  border:none;

}

button{
    width:14rem;
    height:6rem;
    border-radius:2rem;
    border : none;
    color:white;
    padding:.8rem;
    font-family: 'Amatic SC', cursive;
    font-size: 2.8rem;
    font-weight: bolder;
    margin:0px 4rem 2.5rem 4rem;
   -webkit-box-shadow: inset 0px 5px 7px #c1c1c1;
     -moz-box-shadow: inset 0px 5px 7px #c1c1c1;
          box-shadow: inset 0px px 7px #c1c1c1;
    outline: none;
    cursor: pointer;
    transition:.3s;
}

button:active {
    transform:translateY(3px);
    box-shadow: 5px 3px 5px gray;    
}

#custom{
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  background-color:var(--color-custom);
}

#colorPicker{
  width:2.5rem;
}

#classic{
  background-color:var(--color-classic);
}

#random{
   background-color:var(--color-random);
}

#eraser{
  background-color:var(--color-eraser);
}
#reset{
  background-color:var(--color-clear);
}

footer{
  margin-top:5rem;
  margin-bottom:10rem;
  text-align:center;
}
 
.box{
  border: .0001px solid black;
  flex-grow:1;
  height:100%;
}

.boxCon{
  flex-basis:100%;
  display:flex;  
}  
 